

#content{
	 font-family:vardana,arial,felvetica;
	   font-size:30px;
	color:#13ea1e;
	margin-top:40px;
}

.follow {

    color: #00b5ff;
		border-radius: 40px;
    border: 2px solid lightblue;
		letter-spacing: 1px;
		font:  'Oswald', Arial, sans-serif;
}

.follow:hover {
   	background-image: linear-gradient(to right, #00b5ff 0%, lightblue 100%);
    background-color:#00b5ff;
    width:102%;
    color: white;
}

body{

  background-color:rgb(250, 250, 250);
	margin-top:70px;
}
.lef{
  width: 300px;
  height: 200px;
  background-color:white;
  border-radius:20px;
  border: 1px solid blue;

   font-family:serif;
	   font-size:24px;

		z-index:2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float:left;
  margin-left:200px;
  margin-top:-55px;

    transition: all ease-in-out 250ms;
	position:fixed;


}
.lef img{
	border: 1px solid blue;
	  border-radius: 50%;

	  text-align:center;
	   border-radius: 1000px !important;
    overflow: hidden;
    width: 90px;
    height: 90px;
    border: 8px solid rgba(143, 160, 142, 0.3);
    position: relative;
    margin-top: 40px;
	margin-left:20px;
	position:relative;
}
.lef a{
	text-decoration:none;
}
.nam{
	 position:relative;
  text-shadow: 0 0 3px blue;
  color: #000000;
}
.left_profile{

	position:relative;
	margin-left:150px;
	margin-top:-170px;
}
.right{
  width: 300px;
  min-height: 400px;
  background-color:white;
  color:black;
  font-family:vardana,arial,felvetica;
	font-size:20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 1px solid blue;
  font-family: 'Century Gothic',sans-serif;
  transition: all ease-in-out 250ms;
	border-radius:2%;


}
.left1{
  width:19.5%;
  background-color:white;
  position:absolute;
	font-size:25px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
  float: left;
  margin-left:200px;
  margin-top:150px;
  font-family: 'Mrs Saint Delafield', cursive;
    transition: all ease-in-out 250ms;

	  border: 1px solid blue;
	   border-radius:2%;


}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid blue;
    margin: 1em 0;
    padding: 0;
}

.news_list {
	margin-left:-25px;
list-style: none;
}
.loadmore {
color: #FFF;
border-radius: 5px;
width: 50%;
height: 50px;
font-size: 20px;
background:#00b5ff;
outline: 0;
 opacity: 0.8;
 filter: alpha(opacity=50);
 position:relative;
 float:bottom;
 border: 1px solid blue;
}
 .loadbutton{
	 float:bottom;
    text-align: center;
}
.lefbutton a{

	   display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
	border: 1px solid white;

	font-family:Times New Roman,serif;
}
.lefbutton a:hover{
	 background-color: #00b5ff;
    color: white;
	opacity:0.95;
	border: 1px solid blue;
	font-size:25px;

	font-family:Georgia;


}
.banner {
	background:url('img/banner.jpg') no-repeat 0px 0px;
	background-size:cover;
	min-height:195px;

	padding:45px 0 0 0;
}

.banner h1 {
	margin-top:-5px;
	color:white;
	font-size: 25px;

}
.banner p {
    color: #fff;

    font-size: 15px;
}
.banner a {
	text-decoration: none;
    color: white;
    font-size: 17px;
    background-color: #00b5ff;

}
.banner a:hover {
	background:blue;
}
.menu{

	   display: block;

    padding: 8px 16px;

	font-family:Georgia;
}
/* LIST VIEW */
 .list{
	 margin-left:-20px;
    width: 100%;
}
 .list li {
    background: #eaf2f1;


    list-style-type: none;
	    transition:0.5s all;

}
 .list li:hover {
	background:#fff;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
 .list li img{
	float: left;
	min-height:90px;
    margin-right: 0;
    padding-bottom: 0;
    border: 1px solid blue;
    padding: 0;
    width: 20%;
    background-color: #fff;
}
 ul.list li.alt{ background:gray; }
 .list li p {

    overflow: hidden;
    word-wrap: break-word;
    color: #C1C1C1;
    font-size: 18px;
	margin-left:15px;

}
 .list li .title{
	 text-align:center;
	overflow: hidden;
    word-wrap: break-word;
    font-size: 20px;
    text-decoration: none;
	text-transform:capitalize;
    color: #536363;
    font-weight: 500;
    letter-spacing: 1px;
}
 .list li .adprice{

	display: block;
    font-size: 32px;
    color: #ACD3F7;
    margin: 5px 0 0 0;
}

 .list li .list-left {
    width: 60%;
    margin-left: 3%;
    float: left;
}
 .list li .list-right{
    width: 15%;
    float: right;
    text-align: right;
}
 .list li .date{
	float: right;
    font-size: 4px;
    display: block;
    width: 100%;
    margin: 5px 0 5px 0;
    color: #404040;
    font-weight: 400;
}
 .list li .cityname{
	 text-align:center;
	  margin-top:-35px;
	  margin-left:80px;
	  font-size:18px;
	color: #b4c6c6;
}
span.cityname{
	display:block;
	color: #b4c6c6;
}
 .list li .adprice {
	 text-align:center;
    display: block;
    font-size: 20px;
    color:#00b5ff;
    margin: 10px 0 0 0;
}
 .list li .adprice hover {
	 text-decoration:underline;
	 font-size:21px;
 }
body {
	width: 100wh;
	height: 90vh;


}
